/* Footer Styles */


.footer {
  background:  #ffffff;
  margin-top: 1rem;

}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:start;
  gap: 3rem;
  width: 100%;
  padding: 1.5rem;

}

.footer-section {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: start;
  margin-top: 1rem;
}

.footer-section-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
  width: 40%;
  text-align: center;
}

.footer-section h3 {
  color: #f3703c;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.02em;
}

.footer-logo .logo-icon {
  font-size: 2rem;
  color: #f3703c;
}

.footer-description {
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #13839c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  color: #13839c;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #f3703c;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: #13839c;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}

.footer-links a:hover {
  color: #f3703c;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #13839c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

.contact-icon {
  color: #fbba73;
  font-size: 1.1rem;
}

.footer-bottom {
  text-align: center;
  padding-top: 2rem;
  border-top: 1px solid rgba(243, 112, 60, 0.3);
  color: #13839c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
    font-size: 0.8rem;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  
  .footer-section {
    text-align: center;
  }
  
  .footer-logo {
    justify-content: center;
  }
  
  .social-links {
    justify-content: center;
  }
  
  .contact-info {
    align-items: center;
  }
}
